body {
	background-color: white;
}

h1{
	color: #3D3A3B;
	font-weight: bold;
	text-align: center;
	font-size: 5em;
	font-family: 'Oswald', sans-serif;
}
h2{
	color: #3D3A3B;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
}

#logo{
	float:left;
	height: 50px;
	width: 700px;
	margin: 0, auto, auto, 0;
	
}
#top-header{
	margin: 0, auto, auto, auto;
	background-color: #C9866F;
	height: 200px;

}
#shopping-cart{
	color: black;
	font-family: 'Oswald', sans-serif;
	text-align: right;
	font-size: 15px;
	float: right;
	}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content:"";
	clear:both;
	height:0;
}
nav{
	font-size: 1.8em;
	margin: 0 auto;
	width: 643px;

	}

nav ul li{
	display: inline-block;
}
nav ul li a{
	text-decoration: none;
	color: #3D3A3B;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	padding: 40px;
	display: inline-block;
	/*border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: black;*/
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

footer{
	position: relative;
	padding-top: 100px;
	padding-left: 450px;

}
footer ul li{
	display: inline-block;
}
footer ul li a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	color: #3D3A3B;
}
.picture{
	width:260px;
	height: 300px;
	margin: 0 80px;
	float:left;
}

#wrapper{
	width: 1260px;
	margin: 0 auto;
}